* {
    margin: 0;
    border: 0;
    padding: 0;
}

.container {
    /* Ativa o grid */
    display: grid;
    grid-template-columns: 100px 200px auto;
    grid-template-rows: ifr ifr;
    gap: 10px;
}

.item {
    background-color: #5a5e5a;
    color: aliceblue;
    text-align: center;
    border-radius: 5px;
}
/* EXERCÍCIOS GRID 3 COLUNAS COM VALORES DIFERENTES */