body {
    margin: 0;
    font-family: Arial;
    background: #ffffff;
    color: rgb(0, 38, 254);
    padding: 20px;
}
h1 {
    margin-bottom: 5px;
}


p {
    margin-bottom: 20px;
    color: #000000;
}


form {
    max-width: 300px;
}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}


input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #000000;
    background: #1e1e1e;
    color: white;
    outline: none;
}

input:focus, select:focus {
    border: 1px solid #2f3fff;
}


button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: #2f3fff;
    color: white;
    cursor: pointer;
}

/* hover simples */
button:hover {
    opacity: 0.85;
}